!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}/
    %meta{charset: 'utf-8'}/
    %title Audio Player for Foundation! Boom!
    / http://foundation.zurb.com/forum/posts/1863-foundation-cdn
    -# Styles
    %link{href: 'http://cdn.foundation5.zurb.com/foundation.css', rel: 'stylesheet', type: 'text/css'}/
    %link{href: './src/foundation-player.css', rel: 'stylesheet', type: 'text/css'}/
    %link{href: './src/foundation-icons/foundation-icons.css', rel: 'stylesheet', type: 'text/css'}/
    -# Scripts
    %script{src: 'http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js', type: 'text/javascript'}
    %script{src: 'http://cdn.foundation5.zurb.com/foundation.js', type: 'text/javascript'}
    %script{src: 'http://cdn.rawgit.com/katspaugh/wavesurfer.js/master/dist/wavesurfer.min.js', type: 'text/javascript'}
    %script{src: './src/foundation-player.js', type: "text/javascript"}
    :javascript
      $(document).ready(function($) {
        $(document).foundation();
        // Direct load on start
        $('.foundation-player.player-no-1').foundationPlayer({
          loadURL: './src/ukulele.m4a', playOnStart: true
        });
        // Lazy load when tab become active
        // This prevents issue when WaveSurfer can't calculate width
        $('.foundation-player-tab').on('toggled', function (event, tab) {
          window.tab = tab;
          if(tab.hasClass('foundation-player-small')){
            $('.foundation-player.player-no-2').foundationPlayer({
              loadURL: './src/climbing.m4a', size: 'small'
            });
          }
        });
      });
  -# Prerender player
  - player = capture_haml do
    %ul.player.inline-list.noselection
      %li.player-button.play
        %em.fi-play
      %li.player-button.rewind
        %em.fi-refresh
      %li.player-status.time
        %strong.elapsed 00:00
      %li.player-progress
        .progress.round
          %span.meter{ style:'width: 30%' }
      %li.player-status.time
        %strong.remains 00:00
      %li.player-button.volume
        %em.fi-volume

  %body.foundation-player-demo
    .row
      .large-offset-2.large-8.columns
        %h1.text-center Foundation-player.js
        %p
          Super-easy way to add player to your page. Take a look to
          %a{href: 'https://github.com/qatsi/foundation-player.js/blob/master/README.md'} README
          and the
          = succeed '.' do
            %a{href: 'https://github.com/qatsi/foundation-player.js/blob/master/index.html'} source
        %ul.tabs.foundation-player-tab{'data-options' => 'scroll_to_content: false', 'data-tab' => ''}
          %li.tab-title.active
            %a{href: '#normal'} Normal
          %li.tab-title.foundation-player-small
            %a{href: '#small'} Small
        %hr/
        .tabs-content
          #normal.content.active
            %p
              Regular player setup. Only one option is required:
              %br/
              %code $('.player').foundationPlayer({loadURL: '/src/ukulele.m4a'});
            .foundation-player.player-no-1= player

          #small.content
            %p
              Small player setup:
              %code { ... playOnStart: false, size: 'small' ... }
            .foundation-player.player-no-2= player

        %p.text-center
          %small
            Made with fun, love, keyboard and… with
            %code 'single'
            quotes inside.
