!!!
%html
  %head
    %meta{charset: 'utf-8'}/
    %title HTML5 Audio Player for Zurb Foundation!
    / http://foundation.zurb.com/forum/posts/1863-foundation-cdn
    -# Styles
    %link{href: 'http://cdn.foundation5.zurb.com/foundation.css', rel: 'stylesheet', type: 'text/css'}/
    %link{href: './src/foundation-player.css', rel: 'stylesheet', type: 'text/css'}/
    %link{href: './src/foundation-icons/foundation-icons.css', rel: 'stylesheet', type: 'text/css'}/
    -# Scripts
    %script{src: 'http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js', type: 'text/javascript'}
    %script{src: 'http://cdn.foundation5.zurb.com/foundation.js', type: 'text/javascript'}
    %script{src: './src/foundation-player.js', type: 'text/javascript'}
    :javascript
      $(document).ready(function($) {
        $(document).foundation();
        $('.foundation-player.no-1').foundationPlayer(); // Load on DOM ready
        player = $('.foundation-player.no-1').data('FoundationPlayer');
        $('.foundation-player-tab').on('toggled', function (event, tab) {
          if(tab.hasClass('foundation-player-normal')){ // Load when tab active
            $('.foundation-player.no-2').foundationPlayer()
          }
          if(tab.hasClass('foundation-player-small')){ // Load when tab active
            $('.foundation-player.no-3').foundationPlayer({size: 'small'});
          }
        });
      });
  -# Prerender player
  - player = capture_haml do
    %ul.player.inline-list.noselect
      %li.player-button.play
        %em.fi-pause
      %li.player-button.rewind
        %em.fi-refresh
      %li.player-button.volume
        %em.fi-volume
      %li.player-status.time
        %span.elapsed 00:00
      %li.player-progress
        .progress.round
          %span.meter
      %li.player-status.time
        %span.remains 00:00

  %body.foundation-player-demo
    .row
      .large-offset-2.large-8.columns
        %h1.text-center Foundation-player.js
        %ul.tabs.foundation-player-tab{'data-tab' => ''}
          %li.tab-title.active
            %a{href: '#sandbox'} API Sandbox
          %li.tab-title.foundation-player-normal
            %a{href: '#normal'} Normal
          %li.tab-title.foundation-player-small
            %a{href: '#small'} Small

        %hr/
        -# Tabs
        .tabs-content
          #sandbox.content.active
            .foundation-player.no-1
              = player
              %audio
                %source{src: 'http://kolber.github.io/audiojs/demos/mp3/juicy.mp3'}

            / I know this is not good
            %br/
            %dl.accordion{"data-accordion" => ""}
              %dd.accordion-navigation
                %a{href: "#info"} Intro
                #info.content.active
                  %p
                    This is super easy way to bring HTML5 audio player to your Foundation based project. Take a look to
                    %a{ href: 'https://github.com/qatsi/foundation-player.js/blob/master/README.md' } README
                    and the
                    = succeed '.' do
                      %a{href: 'https://github.com/qatsi/foundation-player.js/blob/master/index.html'} source of this page
                    This tab is also sandbox for Foundation Player API. There is the
                    %code player
                    global variable. Fill free to experiment in your browser's JavaScript console.

              %dd.accordion-navigation
                %a{href: "#playback"} Playback control
                #playback.content
                  %table
                    %thead
                      %tr
                        %th Method
                        %th Description
                        %th Returns
                    %tbody
                      %tr
                        %td
                          %code playPause()
                        %td
                          This method
                          %a{onclick: 'player.playPause()'} toggles
                          play or pause state of player.
                        %td
                          %code true
                          or
                          %code false
                      %tr
                        %td
                          %code play()
                        %td ...
                        %td ...
              %dd.accordion-navigation
                %a{href: "#volume"} Volume control
                #volume.content
                  Table with API...
              %dd.accordion-navigation
                %a{href: "#look"} Look and feel
                #look.content
                  %table
                    %thead
                      %tr
                        %th Method
                        %th Description
                        %th Returns
                    %tbody
                      %tr
                        %td
                          %code togglePlayerSize()
                        %td
                          This method
                          %a{onclick: 'player.togglePlayerSize()'} toggles
                          player size. Method returns current size of player which was set.
                        %td
                          %code 'small'
                          or
                          %code 'normal'

          #normal.content
            %p
              Regular player setup. There is no options here.
              %br/
              %code $('.foundation-player.no-2').foundationPlayer();
            .foundation-player.no-2
              = player
              %audio
                %source{src: './src/climbing.m4a'}

          #small.content
            %p
              Small player setup:
              %code { size: 'small' }
            .foundation-player.no-3
              = player
              %audio
                %source{src: './src/ukulele.m4a'}

        %p.text-center
          %small
            Made with fun, love, keyboard and… with
            %code 'single'
            quotes inside.
